/* .container{
} */

.heading {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
  height: 60px;
  width: 200px;
  border-bottom: 3px solid #ff008c;
  font-family: "Playfair Display"
}

.content {
  color: white;
  font-size: 25px;
  font-family: "Playfair Display", serif;
  line-height: 45px;
  letter-spacing: 3%;
}

.e {
  font-size: 7rem;
  font-family: "WC Mano Negra Bta", sans-serif;
}

.parent {
  width: 74vw;
  height: auto;
  margin: auto;
  margin-top: -8rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  -webkit-transform: all 0.2 linear;
  transform: all 0.2 linear;
}

.child {
  flex: 1 1 300px;
  height: 20rem;
  margin: 100px auto;
  width: 27rem;
  transform: scale(0.3);
  color: #ff008c;
}

@media only screen and (max-width: 640px) {
  .heading {
    font-size: 25px;
    width: fit-content;
    height: fit-content;
    padding-bottom: 10px;
    margin-top: 0;
  }

  .e {
    font-size: 2rem;
  }

  .content {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.7px;
    font-family: "Playfair Display", sans-serif;
  }

  .parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .child {
    flex: 1 1 300px;
    height: 20rem;
    margin: 100px auto;
    width: 27rem;
    /* transform: scale(0.1); */
    color: #ff008c;
  }
}
