/* .container{
} */

.heading {
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 40px;
  height: 60px;
  width: 200px;
  border-bottom: 3px solid #ff008c;
  font-family: "Playfair Display"
}

.content {
  color: white;
  font-size: 25px;
  font-family: "Playfair Display", serif;
  line-height: 45px;
  letter-spacing: 3%;
}

.e {
  font-size: 7rem;
  font-family: "WC Mano Negra Bta", sans-serif;
}

.parent {
  width: 100vh;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  -webkit-transform: all 0.2 linear;
  transform: all 0.2 linear;
  margin: 0 auto;
}

.child {
  flex: 1 1 300px;
  height: 20rem;
  margin: 100px auto;
  width: 27rem;
  color: #ff008c;
  transform: scale(0.4)
}

@media only screen and (max-width: 640px) {
  .heading {
    font-size: 25px;
    width: fit-content;
    height: fit-content;
    padding-bottom: 10px;
    margin-top: 90px;
  }

  .e {
    font-size: 2rem;
  }

  .content {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.7px;
    font-family: "Playfair Display", sans-serif;
  }
  
  .parent{
    display: none;
  }
}

@media only screen and (max-width: 1008px){
  .parent{
    display: none;
  }
}