.container {
  color: white;
  margin-top: 10rem;
}

.all_events {
  display: flex;
  justify-content: space-evenly;
}

.games_container,
.webinar_container,
.coding_container {
  display: flex;
  flex-direction: column;
}

.events {
  text-align: center;
  font-size: 50px;
  width: fit-content;
  border-bottom: 3px solid #ff008c;
  font-family: Bad Script;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding-bottom: 10px;
}

.events_container {
  display: flex;
  flex-direction: column;
}

.events_card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.events_table {
  display: none;
}

.games {
  text-align: center;
  font-size: 40px;
  width: fit-content;
  border-bottom: 3px solid #ff008c;
  font-family: Bad Script;
  /* margin-bottom: 5rem; */
  margin: 10rem auto;
}
.webinar {
  text-align: center;
  font-size: 40px;
  width: fit-content;
  border-bottom: 3px solid #ff008c;
  font-family: Bad Script;
  font-style: normal;
  /* margin-bottom: 2.5rem;
  margin-top: 3rem; */
  margin: 10rem auto;
}
.codingEvents {
  text-align: center;
  font-size: 40px;
  width: fit-content;
  border-bottom: 3px solid #ff008c;
  font-family: "Bad Script";
  font-style: normal;
  /* margin-bottom: 2.5rem;
  margin-top: 3rem; */
  margin: 10rem auto;
}
.box {
  display: flex;
  justify-content: space-around;
}
.imgchild {
  width: 100%;
  height: auto;
  position: relative;
}
.contentchild {
  /* width: 55%; */
  height: auto;
  font-size: 30px;
  font-family: Bad Script;
  white-space: nowrap;
}
.contentchild ul {
  list-style-type: none;
}
.img1 {
  width: 450px;
  margin-left: 50px;
  border-radius: 10px;
}

.img2 {
  width: 450px;
  /* position: absolute;
  right: -200px;
  top: 50px; */
  transform: translateX(-200px) translateY(50px);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(214, 212, 212);
  position: absolute;
}

.img1:hover {
  transform: translateX(-40px);
  transition: transform 0.8s ease;
}

.img1:hover + .img2 {
  transform: translateX(-110px) translateY(20px);
  /* transition: all 0.5s 0.6s; */
  transition: transform 0.8s ease;
}

.muchMore {
  text-align: center;
  font-size: 2rem;
  font-family: Bad Script;
  color: #ff1b98;
}

.games,
.webinar,
.codingEvents {
  padding-bottom: 10px;
}
@media only screen and (max-width: 1040px) {
  .all_events {
    display: flex;
    flex-direction: column;
  }

  .events_card_container {
    display: none;
  }

  .events_table {
    display: block;
  }

  .events_table {
    height: 220px;
    background-color: black;
    color: #ff008c;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .events_table p {
    width: 100%;
    border-bottom: 0.1px solid white;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-family: "Bad Script", sans-serif;
  }

  .imgchild {
    display: none;
  }

  .codingEvents,
  .webinar,
  .games {
    font-size: 25px;
    margin: 0;
    width: 0;
    width: fit-content;
    border-bottom: 3px solid #ff008c;
    margin: 100px 0 30px 0;
    padding-bottom: 3px;
  }

  .contentchild {
    font-size: 17px;
    font-family: "Bad Script", sans-serif;
    line-height: 30px;
    letter-spacing: 0.2px;
  }

  .events {
    font-size: 30px;
    width: fit-content;
    border-bottom: 3px solid #ff008c;
    font-family: Bad Script;
    margin: 40px auto;
    padding-bottom: 10px;
  }

  .muchMore {
    width: 300px;
    text-align: center;
    font-size: 25px;
    font-family: Bad Script;
    color: #ff1b98;
    margin: 50px 0 0 0;
  }

  .games,
  .webinar,
  .codingEvents {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    width: fit-content;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 1320px) {
  .all_events {
    display: flex;
    flex-direction: column;
  }
}
