.banner {
  width: 100%;
  height: fit-content;
  background: black;
  opacity: 0.9;
  padding: 50px 12vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* font-family: "Open Sans", sans-serif;
   */
   font-family: 'Bad Script'
}

.address p{
  font-size: 18px;
}

.address p i{
  font-size: 16px;
}

.address p a:hover{
  color: white;
  text-decoration: underline;
}

.executive_contact{
  line-height: 18px;
  margin-bottom: 40px;
}

.menu{
  font-size: 18px;
}

.menu p:hover{
  text-decoration: underline;
  cursor: pointer;
}

.number {
  font-family: 'Shadows Into Light Two'
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.connect {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
}

.socials {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.insta:hover {
  color: #cb3a8e;
}

.fb:hover {
  color: #1773ea;
}

.linkedin:hover {
  color: #0073b1;
}

.mail:hover {
  color: #e34133;
}


@media only screen and (max-width: 640px){
    .banner{
        flex-direction: column;
    }

    .connect {
        font-size: 30px;
    }

    .insta, .fb, .linkedin, .mail {
        transform: scale(0.8);
    }

    .socials{
        width: 100%;
    }

    .contact{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .address, .menu, .contract{
      margin: 20px 0;
    }

    .address p{
      font-size: 16px;
    }
}